/**
	STYLE
*/
*{
	margin: 0px;
	padding: 0;
	font-family: Arial;
	font-size: 1.2rem;
}
/**
	HEADER STYLE
*/
a{
	text-decoration: none;
	color: white;
}
header a:hover{
	color: #95caff;
}
header{
	background-color: #0054a8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap; 
	padding: 20px;
}
.menu{
	display: flex;
}
.menu li{
	margin-left: 10px;
}
.menu li a{
	display: block;
	padding: 10px;
}
nav ul li{
	list-style: none;
}
/**
	SECTION (MENU) STYLE
*/
.sec-home{
	background-color: #359aff;
	height: 450px;
	padding: 60px;
}
.t-home{
	color: white;
	font-size: 2rem;
	margin: 0 0 10px 0;
	word-wrap: break-word;
	position: absolute;
}
.t2-home{
	color: #a8d3ff;
	margin-top: 85px;
	position: absolute;
}
.sec-home img{
	width: 35%;
	display: block;
	margin-left: auto;
	justify-content: center;
	position: relative;
}
/**
	ARTICLE (SOBRE) STYLE
*/
.topic{
	color: #0054a8;
	text-align: center;
	margin: 30px;
}
.topic-ad{
	color: #2b95ff;
	text-align: center;
	margin: 10px;
}
hr{
	border-color: #c1e0ff;
	margin-left: 30%;
	margin-right: 30%;
}
.sobre p{
	text-align: justify;
	display: flex;
  	align-items: center;
  	margin: 0 auto;
	margin-bottom: 1rem;
	width: 50%;
	color: #414141;
	font-family: monospace;
}
/**
	TECH STYLE
*/
.tech-info{
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: space-between;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-left: 17%;
}
.tech-info div{
	margin: 30px;
}

.tech-info div:hover{
	cursor: pointer;
	border-radius: 10px;
	border-bottom: #0054a8 solid;
	margin-top: 20px;
}
.tech-info div h3:hover{
	color: #2b95ff;
	cursor: pointer;
}
.tech-info .icon{
	color: #0054a8;
	font-size: 5rem;
	text-align: center;
}
.tech-info h3{
	color: #0054a8;
	text-align: center;
	margin: 10px;
}
.tech-info > div{
	flex: 1 1 200px;
	margin: 0 10px; 
}
.tech-info p{
	color: #414141;
	font-family: monospace;
	font-size: 1rem;
	text-align: center;
}
/**
	PROJECTS STYLE
*/
.projects-info{
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: space-between;
	margin: 60px;
	padding-left: 17%;
}
.projects-info > div{
	flex: 1 1 200px;
	margin: 0 10px; 
}
.projects-info div{
	margin: 30px;
}
.projects-info img{
	max-width: 100%;
	display: block;
}
.projects-info h3{
	color: #0054a8;
	text-align: center;
	margin: 10px;
}
.projects h3:hover{
	color: #2b95ff;
	cursor: pointer;
}
.projects-info p{
	font-family: monospace;
	text-align: center;
	color: #414141;
}
@media (max-width: 700px){
	.sobre p{
		margin-left: 50px;
	}
}