*{
	margin: 0px;
	padding: 0;
	font-family: Arial;

}
a{
	list-style: none;
	text-decoration: none;
	color: white;
}
header{
	background-color: black;
	display: flex;
	justify-content: space-between;
}
nav{
	display: flex;
}